@model IEnumerable<Capstone.Domain.Entities.StatsInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Stats Info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>Date</th>
        <th>Charity</th>
        <th>Total Sales</th>
        <th>Sales to Charity</th>
        <th>Cash donations</th>
        <th>Guest Count</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.partnershipNight.Date.ToShortDateString(), "EditStats", "AdminStats", new { item.StatsInfoId }, null)</td>
        <td>@Html.DisplayFor(ModelItem => item.partnershipNight.Charity.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.TotalSales)</td>
        <td>@Html.DisplayFor(modelItem => item.AmountOfTotalSalesToCharity)</td>
        <td>@Html.DisplayFor(modelItem => item.CashDonations)</td>
        <td>@Html.DisplayFor(modelItem => item.GuestCount)</td>
        <td>
            @using (Html.BeginForm("Delete", "Admin"))
            {
               <input type ="submit" value ="Delete" />
            }
        </td>
    </tr>
}

</table>
