@model IEnumerable<Capstone.Domain.Entities.Section4>

@{
    ViewBag.Title = "Index";
}

<h2>Section4 Info</h2>

<p>
    @Html.ActionLink("Create New", "CreateSection4Info")
</p>
<table>
    <tr>
        <th>Date</th>
        <th>Charity</th>
        <th>Total Sales</th>
        <th>Sales to Charity</th>
        <th>Cash donations</th>
        <th>Guest Count</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.ActionLink(item.partnershipNight.Date.ToShortDateString(), "EditSection4", "AdminSection4", new { item.Section4Id }, null)</td>
@*        <td>@Html.DisplayFor(ModelItem => item.partnershipNight.Charity.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.TotalSales)</td>
        <td>@Html.DisplayFor(modelItem => item.AmountOfTotalSalesToCharity)</td>
        <td>@Html.DisplayFor(modelItem => item.CashDonations)</td>
        <td>@Html.DisplayFor(modelItem => item.GuestCount)</td>*@
        <td>
            @using (Html.BeginForm("DeleteSection4", "AdminSection4", new { item.Section4Id }))
            {
               <input type ="submit" value ="Delete" />
            }
        </td>
    </tr>
}

</table>
